.Imageone{
    margin: 0px 150px;
    padding: 30px;
    width: 1125px;
    height: 385px;
}
.para1{
    text-align: center;
    padding: 10px;
    margin-left: 250px; 
    margin-right: 300px;
    font-style: bold;
    
}
.para2{
    text-align: center;
    padding: 10px;
    margin-left: 250px; 
    margin-right: 300px;
    font-style: bold;
    color: blue;
}
.subimage1{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
}
.subimage2{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
}
.subimage3{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
}
.subimage4{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
}

.abc{
    display:flex; 
    margin-left: 120px;
}
.text{
  position: absolute ; 
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 30px;
  color: white;

}
.text1{
    position: absolute ; 
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.btn{
    position: absolute ; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 30px;
    color: rgb(226, 37, 37);
    border-radius: 8px;
}
.btn1{
    border-radius: 8px;
}
.cde{
    position: absolute ; 
    top: 100%;
    left: 19%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: small;

}
.abc2{

    color: black;
    font-size: small;
     position: absolute;  
    top:110%; 
    left:20%;
    text-align: center;
     transform:translate(-50%, -50%);
}