.Imageone{
    margin: 0px 150px;
    padding: 30px;
    width: 1125px;
    height: 385px;
}
.para1{
    text-align: center;
    padding: 10px;
    margin-left: 250px; 
    margin-right: 300px;
    font-style: bold;
    
}
.para2{
    text-align: center;
    padding: 10px;
    margin-left: 250px; 
    margin-right: 300px;
    font-style: bold;
    color: blue;
}
/* .subimage1{
    margin-left: 30px;
    height: 260px;
    width: 200px;
    padding: 2px;
    flex:30%;
    text-align: left;
}
.subimage2{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
}
.subimage3{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
}
.subimage4{
    margin-left: 30px;
    height: 300px;
    width: 260px;
    padding: 2px;
    flex:30%;
    text-align: left;
} */

.abc{
    display:flex; 
    margin-left: 120px;
}
.text{
  position: absolute ; 
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 30px;
  color: white;

}
.text1{
    position: absolute ; 
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}
.btn{
    position: absolute ; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    bottom: 30px;
    color: rgb(226, 37, 37);
    border-radius: 8px;
}
.btn1{
    border-radius: 8px;
}
/* .cde{
    position: absolute ; 
    top: 115%;
    left: 29%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: small; */

/* } */
/* .abc2{

    color: black;
    font-size: small;
     position: absolute;  
    top:104%; 
    left:25%;
    text-align: center;
     transform:translate(-50%, -50%);
}
.abc .subimage1{
    margin-left: 30px;
    height: 260px;
    width: 200px;
    padding: 2px */
    /* flex:30%; */
    /* text-align: left; */
/* }  */
/* .abc .subimage1 p{
    float: left;
    text-align: left;
    margin-bottom: 50px;
}    */
.column {
    float: left;
    width: 24.33%;
    padding: 0%;
    position:relative;
    text-align:center;
    color:white;
   
    /* display: block; */
    word-wrap: break-word;
    margin-left: 0%;
    margin-right: 0%;
    font-size: small;
  }
  
  .centered{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
  .row::after{
    content:"";
    clear :both;
    display: table;
    }
    .par1{
background-color: rgb(15, 15, 15);
  width: 97.5%;
  border: 15px solid rgb(11, 11, 11);
  padding: 8px;
  margin-top: 20px;
  height: 150px;
  
    }
    .par1 p{
        color: white;
        text-align: center;
        font-size:larger;
    }
    .par1 .path{
        padding-left: 540px;
        margin: 10px;
       /* border-top-right-radius: 10px;
       border-bottom-left-radius: 17px;
       border-bottom-right-radius: 40px;
       border-top-left-radius: 70px;    */
       /* border-radius: 5px; */

      
    }
    .par1 .auto{
        padding-right: 250px;
        margin: 10px;  
        /* border-radius: 10px;
        border: 2px; */
    }
    .h3{
text-align: center;
margin-top: 40px;
    }
    .path1{
        padding-left: 400px;
        
    }